* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8e0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form label {
    margin-bottom: 5px;
    display: block;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5C6BC0;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #3f51b5;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    color: #777;
}
